body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: "TT Lakes";
    color: #7E7E82;
}

/*Header*/
.Header {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

.Header__container {
    display: flex;
    height: inherit;
    background-color: #FFFFFF;
}

.Header__container-left {
    display: flex;
    height: inherit;
    align-items: center;
    width: 50%;
    padding-left: 16px;
    gap: 16px;
}

.Header__container-right {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    gap: 16px;
    width: 50%;
}

.Header button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: #FFFFFF;
}

.Header__group {
    display: flex;
}

.Header__group::before {
    content: url("./Icons/divider.svg");
    align-self: center;
    display: none;
}

.Header__group::after {
    content: url("./Icons/divider.svg");
    align-self: center;
    margin-left: 16px;
}

.Header__links-visible-768 {
    display: flex;
    gap: 16px;
    display: none;
}

/*Main*/

.Main__name {
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
}

.Main__name::before {
    content: url("./Icons/highlight.svg");
    align-self: center;
    margin-top: 5px;
    margin-right: 12px;
}

.Main__links-visible-1120 {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
}

.Main__navigation {
    padding-left: 16px;
}

.Main__link {
    border-radius: 6px;
    border: 2px solid transparent;
}

.Main__link a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 9px;
    color: #7E7E82;
}

.Main__link:hover {
    border-color: #B8FFEC;
    background-color: #FFFFFF;
}

.Main__text-container p {
    color: #1B1C21;
    font-size: 14px;
}

.Main__text-container {
    min-height: 100px;
    margin-left: 16px;
    height: 108px;
    overflow: hidden;
}

.Main__text {
    margin: 16px;
}

.Main__text-visible-728 {
    display: none;
}

.Main__text-visible-1120 {
    display: none;
}

.Main__button {
    display: flex;
    padding: 0;
    background-color: #F8F8F8;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-left: 24px;
    padding-top: 10px;
    margin-bottom: 16px;
}

.Main__button::before {
    content: url("./Icons/main-button-icon.svg");
    align-self: center;
    margin-right: 8px;
}

@media screen and (width > 767px) {
    .Header__group::after {
        display: none;
    }

    .Header__group::before {
        display: block;
        margin: 0 4px;
        margin-right: 16px;
    }

    .Header__links-visible-768 {
        display: flex;
    }

    .Header__links-visible-768::after {
        content: url("./Icons/divider.svg");
        margin: 0 4px;
        align-self: center;
    }

    .Main__container {
        display: flex;
    }

    .Main__text {
        margin: 0;
    }

    .Main__text-container {
        width: 312px;
        margin-left: 24px;
        margin-right: 48px;
        height: 146px;
    }

    .Main__text-visible-728 {
        display: block;
        margin-top: 30px;
    }

    .Main__image {
        width: 360px;
        height: 208px;
    }

    .Main__button {
        margin-left: 30px;
    }
}

@media screen and (width > 1119px) {
    .Header {
        display: none;
    }

    .Main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    ul {
        overflow: hidden;
        flex-wrap: wrap;
    }

    .Main__container {
        margin-top: 0;
    }

    .Main__text-container {
        width: 490px;
        height: 170px;
        margin-left: 34px;
        margin-right: 36px;
    }

    .Main__text-visible-1120 {
        display: inline;
    }

    .Main__image {
        width: 531px;
        height: 307px;
    }

    .Main__section-first {
        width: 1120px;
    }

    .Main__name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Main__links-visible-1120 {
        display: flex;
        height: inherit;
        padding-right: 32px;
    }

    .Main__links-visible-1120 a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .Main__link-first-visible1120 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .Main__link-second-visible1120 {
        display: flex;
        align-items: center;
        margin-left: 32px;
        gap: 8px;
    }

    .Main__name::before {
        margin-right: 32px;
    }

    .Main__button {
        margin-bottom: 0;
    }

    .Main__navigation {
        margin-left: 26px;
    }
}