body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: "TT Lakes";
    color: #7E7E82;
}

/*Header*/
.Header {
    width: 100%;
    height: 88px;
}

.Header__container {
    display: flex;
    height: inherit;
    background-color: #FFFFFF;
}

.Header__container-left {
    display: flex;
    height: inherit;
    align-items: center;
    width: 50%;
}

.Header__container-right {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.Header__burger {
    margin: 0 16px;
}

.Header__group {
    margin-right: 16px;
}

.Header__checkstatus {
    margin: 0 16px;
}

.Header__repair {
    margin-left: 20px;
}

.Header__divider-first {
    display: none;
}

.Header__call {
    display: none;
}

.Header__chat {
    display: none;
}

.Header__profile {
    display: none;
}

/*Main*/

.Main__name {
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
    margin-top: 24px;
}

.Main__name::before {
    content: url("/Icons/highlight.svg");
    margin-right: 12px;
    margin-top: 6px;
}

.Main__links-visible-1120 {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
}


.Main__navigation {
    padding-left: 16px;
}

.Main__link a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 9px;
}

.Main__link:hover {
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.Main__section-first p {
    display: none;
}

.Main__text-container {
    font-size: 14px;
}

.Main__text {
    margin: 16px;
}

.Main__text-visible-728 {
    display: none;
}

.Main__text-visible-1120 {
    display: none;
}

.Main__button {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 16px;
}

.Main__button::before {
    content: url("/Icons/icon.svg");
    margin-right: 8px;
    margin-top: 5px;
}

@media screen and (width > 767px) {
    .Header__divider-first {
        display: block;
        margin-right: 16px;
    }

    .Header__call {
        display: block;
    }

    .Header__chat {
        display: block;
        margin-left: 16px;
    }

    .Header__profile {
        display: block;
        margin-right: 20px;
        margin-left: 16px;
    }

    .Main__container {
        display: flex;
        margin-top: 40px;
    }

    .Main__text {
        margin: 0;
    }

    .Main__text-container {
        width: 312px;
        margin-left: 24px;
        margin-right: 48px;
    }

    .Main__text-visible-728 {
        display: block;
        margin-top: 30px;
    }

    .Main__image {
        width: 360px;
        height: 208px;
    }

    .Main__button {
        margin-left: 0;
    }
}

@media screen and (width > 1119px) {
    .Header {
        display: none;
    }

    .Main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    ul {
        overflow: auto;
    }

    .Main__container {
        margin-top: 0;
    }

    .Main__text-container {
        width: 490px;
        margin-left: 34px;
        margin-right: 36px;
    }

    .Main__text-visible-1120 {
        display: inline;
    }

    .Main__image {
        width: 531px;
        height: 307px;
    }

    .Main__section-first {
        width: 1120px;
    }

    .Main__name-container {
        display: flex;
        height: 50px;
        justify-content: space-between;
    }

    .Main__links-visible-1120 {
        display: flex;
        height: inherit;
        padding-right: 32px;
    }

    .Main__links-visible-1120 a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .Main__link-first-visible1120 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .Main__link-second-visible1120 {
        display: flex;
        align-items: center;
        margin-left: 32px;
        gap: 8px;
    }

    .Main__name::before {
        margin-right: 32px;
    }

    .Main__link {
        margin-left: 16px;
    }

    .Main__section-first p {
        display: block;
        font-size: 16px;
        margin-left: 56px;
    }
}